@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;

  /*color mode */
  --primary-color: #333333;
  --secondary-color: #666;
  --dark-color: black;
  --light-color: #f3f3f3;
  --more-dark-color: #1c1c1c;

  /*color base*/
  --orange-color: #FFB001;
  --greenblue-color: #019992;
  --light-blue-color: #CBECFE;

  /* fonts */
  --title-font-size: 1rem;
  --subtitle-font-size: 0.9rem;
  --title-footer: 0.9rem;
  --text-footer: 0.725rem;
  --font-size: 0.7rem;
  --button-font-size: 0.6rem;
  --text-color: #f1f1f1;
  --body-font-color: #6c757d;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
}

:target {
  scroll-margin-top: 80px;
}

h3 {
  font-size: var(--title-footer);
}

h5 {
  color: var(--text-color);
}

.title__section h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 20px 0;
  font-weight: 900;
  position: relative;
}

.title__section h1::before {
  content: "";
  position: absolute;
  height: 3px;
  width: 250px;
  background-color: var(--more-dark-color);
  bottom: 0;
}

.subtitle__section {
  position: relative;
}

.subtitle__section h4:before {
  content: "";
  position: absolute;
  height: 1px;
  width: 150px;
  background-color: var(--more-dark-color);
  bottom: 0;
}

.btn__row {
  display:flex;
  margin-bottom: 24px;
}

.button {
  margin: 0 14px;
  padding: 5px 35px;
  background-color: var(--orange-color);
  font-size: 1rem;
  text-decoration: none;
  border: 1px solid var(--light-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 50px;
  color: var(--light-color);
}

.button__secundary {
  margin: 0 25px;
  padding: 5px 35px;
  background-color: var(--light-color);
  text-decoration: none;
  font-size: 1rem;
  text-decoration: none;
  border: 1px solid var(--greenblue-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 50px;
  color: var(--greenblue-color);
}


.button__light {
  margin: 0 25px;
  padding: 5px 35px;
  background-color: var(--light-blue-color);
  text-decoration: none;
  font-size: 1rem;
  text-decoration: none;
  border: 1px solid var(--greenblue-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 50px;
  color: var(--primary-color);
}

.button:hover,
.button__secundary:hover,
.button__light:hover {
  color: var(--primary-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

a {
  font-weight: 500;
}


/*Aqui começa o header*/

header {
  width: 100%;
  position: fixed;
  z-index: 4;
}

.menu {
  display: flex;
  justify-content: flex-end;
}

.menu .nav-item {
  margin-top: 35px;
}

/* Aqui começa o CSS do banner*/
.banner {
  height: 100vh;
  background-image: url("../img/bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;

  overflow: hidden;
}

.banner_description {
  position: absolute;
  top: 24%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.banner img {
  width: 50%;
}

.banner p {
  width: 50%;
  margin-top: 60px;
  font-style: normal;
  font-size: 1.175rem;
  font-weight: 500;
  text-align: center;
  color: var(--dark-color);
  padding: 10px;
}

.logo__msql {
  position: absolute;
  bottom: 2%;
  right: 3%;
}

@media screen and (max-width: 425px) {
  .button {
    margin-bottom: 5px;
    padding: 10px 20px 11px;
    width: 50%;
    text-align: center;
  }

  .menu {
    flex-direction: column;
  }

  .navbar-collapse {
    text-align: center;
  }

  .menu .nav-item .nav-link::after {
    bottom: -0.3rem;
  }

  .banner_description {
    width: 100%;
    position: absolute;
    bottom: 6%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .banner h1 {
    width: 90%;
    padding: 10px;
    font-size: 1.6rem;
  }

  .banner p {
    line-height: 1.6;
    font-size: 1rem;
  }

  footer {
    justify-content: left;
    align-items: left;
    align-items: flex-start;
  }

  .team,
  .icon_sociais a {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
  }

  .icon_sociais {
    padding: 18px 0;
  }

  .responsavel {
    text-align: left;
  }

  .icon__seta {
    bottom: 30px;
    right: 15px;
  }
  .icon__seta img {
    width: 80%;
  }
}
